 @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


 html {
   box-sizing: border-box;
   font-size: 16px;
 }

 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ol,
 ul {
   margin: 0;
   padding: 0;
   font-weight: normal;

   font-family: 'Maven Pro', sans-serif;
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
 }

 ol,
 ul {
   list-style: none;
 }

 img {
   max-width: 100%;
   height: auto;
 }


 /* container  */
 .container {
   position: relative;
   width: 100vw;
   min-height: 100vh;
   display: grid;
   justify-items: center;
   background: url('https://cdn.dribbble.com/users/720472/screenshots/2177275/media/ffc167a59ad60626d81bd2ce90d3f793.gif') no-repeat center center;
   background-size: cover;
 }

 /* header */
 .header {
   display: flex;
   flex-direction: column;
   gap: 1rem 0;
   width: 100vw;
   max-height: 20rem;

   background: rgba(248, 95, 6, 0.25);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(9px);
   -webkit-backdrop-filter: blur(9px);
   /* border-radius: 15px; */
   color: rgb(2, 2, 2);
   padding: 10px 20px;
   font-weight: 600;
 }

 
 .logo-text {
   align-self: center;
   font-size: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  

 form label {
   margin-bottom: .5rem;
 }

 form select {
   margin-bottom: 1rem;
   padding: .5rem;
   font-weight: 500;
   border: none;
   outline: none;
   border-radius: 4px;
   background: rgba(0, 0, 0, 0.25);
 }

 @media screen and (min-width: 700px) {
  .header{
    max-height: 10rem;
  }
  form{
    flex-direction: row;
  }
  form label{
    margin: 0 2px;
  }
  form select{
    margin: 0 30px;
    width: 10rem;
  }
}

/* modal */
.modal{
  display: grid;
  justify-items: center;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21rem;
    height: 10rem;
  z-index: 10;

     /* From https://css.glass */
     background: rgba(99, 250, 199, 0.25);
     box-shadow: 0 4px 30px rgba(214, 150, 150, 0.1);
     backdrop-filter: blur(9px);
     -webkit-backdrop-filter: blur(9px);
     border-radius: 15px;
}
.modal button{
  height: 40px;
  width: 100px;
  font-weight: 500;
}

 /* Gameboard layout */

 .gameboard {
   height: 300px;
   width: 300px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   margin: 1rem 0 4rem 0;
 }

 .gameboard .cell {
   border: 1px solid rgb(0, 0, 0);
   /* From https://css.glass */
   background: rgba(99, 250, 199, 0.25);
   box-shadow: 0 4px 30px rgba(214, 150, 150, 0.1);
   backdrop-filter: blur(9px);
   -webkit-backdrop-filter: blur(9px);
   border-radius: 15px;

   display: grid;
   place-content: center;
   font-size: 4rem;

 }

 .gameboard .cell:hover {
   background-color: rgba(177, 156, 131, 0.548);
 }

 .footer {
   position: absolute;
   bottom: 0;
   display: grid;
   justify-items: center;
   width: 100vw;

   background-color: black;
   background: rgba(248, 95, 6, 0.25);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(9px);
   -webkit-backdrop-filter: blur(9px);
   color: rgba(255, 255, 255, 0.685);
   font-weight: 500;
   font-size: .9rem;
   padding: .8rem;
 }

