/* .chefSlide{
    background-size: cover;
    width: 100vw !important;
    height: 75vh !important;
  }
  
  @media screen and (min-width:768px) {
    .chefSlide{
      width: 48vw !important;
      height: 55vh !important;
    }
  }
  @media screen and (min-width:1200px) {
    .chefSlide{
      width: 100% !important;
      height: 82vh !important;
    }
  } */