.form::before{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 200px;
    /* background-color: #e5e7eb; */
    background-color: var(--before-bg);
    /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12vw), 0 98%); */
    clip-path: polygon(100% 70%, -20% 100%, 100% 100%);
    z-index: 2;
  }

  @media screen and (min-width:768px) {
    .form::before{
      clip-path: polygon(100% 50%, -20% 100%, 100% 100%);
    }
  }
  @media screen and (min-width:1000px) {
    .form::before{
      clip-path: polygon(100% 20%, -10% 100%, 100% 100%);
    }
  }